body {
  position: relative;
  background-color: #FAEEDD;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

header {
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 20px;
}



.logo {
  color: white;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.switch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
}



.quote-text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.author-name {
  color: #888888;
  font-size: 16px;
}


.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.select-value {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #ffffff;
  margin-bottom: 10px;
  background-color: #333333;
}

.generate-btn {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #333333;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.share-btn {
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #333333;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.dark-mode {
  background-color: #222222;
}

.dark-mode .wrapper {
  color: #FFFFFF;
}

.dark-mode .header-bar {
  background-color: #171717;
}

.dark-mode header {
  background-color: #171717;
}

.dark-mode .quote-title {
  color: #FFFFFF;
}

.dark-mode .content-wrapper {
  background-color: #2C2C2C;
  color: #FFFFFF;
}

.dark-mode .quote-text {
  color: #333333;
}

.dark-mode .author-name {
  color: #AAAAAA;
}

.dark-mode .generate-btn {
  background-color: #FF8800;
}

.dark-mode .share-btn {
  background-color: #FF8800;
}

.dark-mode .select-value {
  background-color: #FF8800;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }
  
  .quote-title {
    font-size: 22px;
  }
  
  .quote-text {
    font-size: 18px;
  }
  
  .author-name {
    font-size: 14px;
  }
  
  .generate-btn, .share-btn {
    padding: 8px 24px;
    font-size: 16px;
  }
}
style.css
body {
  position: relative;
  background-color: #FAEEDD;
}

.logo img {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.switch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: none;
  outline: none;
}


.quote-title {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #333333;
}

.content-wrapper {
  text-align: center;
  margin-top: 150px;
  border-radius: 10px;
  flex-grow: 1;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  background-color: #FDF4E3;
  color: #FFFFFF; 
}

.quote-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #666666;
  text-align: justify;
  line-height: 1.5;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.quote-content:before {
  content: open-quote;
  font-size: 3em;
  color: #999999;
  margin-bottom: -0.4em;
}

.quote-content p {
  margin: 15px;
}

.author-name {
  color: #888888;
  font-size: 16px;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.static-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}




.select-value:hover,
.generate-btn:hover,
.rate-btn:hover,
.share-btn:hover {
  background-color: #1b1b1b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;

}
.select-value:active,
.generate-btn:active,
.rate-btn:active,
.share-btn:active {
  background-color: #111111;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 6px 16px;
  margin-left: 19px;
  margin-right: 19px;
  cursor: pointer;
}
